.profilePic {
  border-radius: 50%;
  width: 30px;
}

.cardHeader {
  padding-left: 10px;
  display: flex;
  max-width: 613.75px;
  height: 40px;
  align-items: center;
  /* border-bottom: 3px solid #a50e02; */
  font-weight: bold;
  border-radius: 3px;
  justify-content: space-between;
}
.profileLink {
  display: flex;
  align-items: center;
}

.mediaCard {
  width: 613.75px;
  max-height: 1090px;
  margin: 20px;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  border: 4px solid #a50e02;
  border-radius: 15px;
  margin-bottom: 70px;
}

.description {
  padding: 10px;
  height: 200px;
  width: 100%;
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
}

iframe {
  overflow: hidden;
  min-height: 400px;
  max-height: 700px;
  margin: 0px;
  padding: 0px;
  border-top: 3px solid #a50e02;
  border-bottom: 3px solid #a50e02;
}

.mediaCard-img-div {
  height: 406px;
  width: 613.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  border-top: 3px solid #a50e02;
  border-bottom: 3px solid #a50e02;
}

.mediaCard-img {
  height: 406px;
  width: auto;
}

.userName {
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
.mainuserName {
  padding-left: 16px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 16px;
}

.comment a {
  padding-top: 4px;
}

.mediaCard-comments {
  margin-top: 5px;
  height: 115px;
  width: 595px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  padding-top: 10px;
  font-size: 14px;
  word-spacing: 2px;
  max-width: 585px;
}

.content {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.5;
}

.description time {
  margin-left: 20px;
  font-size: 14px;
  color: grey;
}

.mediaCard-user {
  margin-bottom: 12px;
}

.mediaCard-delete {
  border: none;
  background-color: #fafafa;
  font-family: "Prompt";
  margin-right: 10px;
}

#edit-media-btn {
  border: none;
  background-color: #fafafa;
  font-family: "Prompt";
}
