.mediaPage {
  width: 780px;
  height: 400px;
  margin: 20px;
  background-color: white;
  display: flex;
  border-radius: 50px;
  margin: 50px;
}

.mediaPage-profilePic {
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.mediaPage-info {
  width: 300px;
  margin-left: 45px;
  margin-top: -10px;
}

.mediaPage-media {
  width: 430px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow-y: hidden;
  border-radius: 50px;
}

.mediaPage-media iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaPage-media img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
}

.mediaPage-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mediaPage-user {
  display: flex;
  align-items: center;
}

.mediaPage-profilePic {
  margin-right: 10px;
}

.mediaPage-mainuserName {
  white-space: nowrap;
  margin-right: 10px;
}

.mediaPage-commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaPage-commentForm textarea {
  width: 290px;
  height: 50px;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.editComment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editComment {
  width: 222px;
  height: 50px;
  resize: none;
  border-radius: 20px;
  padding: 10px;
}

.editComment-btn {
  padding: 4px 14px;
  border-radius: 20px;
  font-family: "Prompt";
  font-size: 12px;
  margin-top: 8px;
  background-color: #a50e02;
  color: white;
  border: white;
}

.mediaPage-comments {
  margin-top: 10px;
  height: 230px;
  overflow-y: scroll;
}

.mediaPage-commentForm button {
  padding: 5px 15px;
  border-radius: 20px;
  font-family: "Prompt";
  margin-top: 10px;
  background-color: #a50e02;
  color: white;
  border: white;
}

.userName {
  margin-right: 10px;
}

time {
  white-space: nowrap;
  font-size: smaller;
}

.mediaPage-comment {
  display: flex;
  padding-top: 10px;
  font-size: 14px;
  word-spacing: 2px;
}

.mediaPage-comment-info {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.mediaPage-comment-info a {
  padding-top: 3px;
}

.mediaPage-comment-btns button {
  font-family: "Prompt";
  font-size: 12px;
  margin-top: 5px;
  border: none;
  background-color: transparent;
  color: #a50e02;
  padding: 0;
}

.mediaModal-btn {
  border: none;
  background-color: transparent;
  font-family: "Prompt";
  font-size: 14px;
  margin-left: 15px;
  color: grey;
}

.comment-error {
  margin-top: 10px;
  color: red;
}

.comment-edit-error {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

#mediaPage-spotlink {
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 12px;
  border-bottom: 1px solid #e6e6e6;
}

.descript {
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
}

.mediaPage-main-userName {
  font-size: 15px;
  white-space: nowrap;
}
