.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: rgb(165, 2, 2);
  /* background-color: #FFA500; */
	/* height: 50px; */
}

.footers-footer-container {

	display: grid;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 80px;
}

.footer-data {
	color: white;
	font-weight: 100;
	font-size: small;
	padding: 10px 10px;
}

.footer-links-container {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 450px;
	width: 300px;
	border: 1px solid black;
}

.profile-images-small img {
	/* display: flex; */
	border-radius: 30%;
}
