.mapMarker {
  position: fixed;
}

.mapMarker img {
  width: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.google-map {
  height: 450px;
  width: 100%;
  border-bottom: 5px solid #a50e02;
}
