.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_left {
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 700px;
    height: 160px;
    width: 160px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}

.top_left img {
    width: auto;
    height: 160px;
}

.un {
    font-size: 80px;
    color: rgb(165, 2, 2);
}
.grid-container>* {
    flex: 1 1 1 ;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    border: 15px solid  rgb(165, 2, 2);
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.spotdiv {
    background-color: white;
    opacity: .8;
    border-radius: 15px;
    border: 3px solid  rgb(165, 2, 2);
    transition-property: background-color;
    transition-delay: 0s;
    
}

.spotdiv img{
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 15px;
}

.spotdiv:hover{
    background-color: rgb(165, 2, 2);
    opacity: .8;
}

.commHead{
    font-size: 25px;
    color: rgb(189, 189, 59)

}
.commHead2{
    font-size: 20px;
}
.comments{
    font-size: 15px;
    background-color: white;
    opacity: .8;
    border: 1px solid gray;
    padding: 20px;
    transition-property: background-color;
    transition-delay: 0s;
    border-radius: 15px;

}

.comments img {
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 700px;
    height: 60px;
    width: 60px;
    background-color: rgb(165,2,2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
  }
  
.comments img {
    width: 60;
    height: 60px;
}

.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;   
}

.modal button{
    color: transparent;
}