.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.top_left {
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 700px;
  height: 160px;
  width: 160px;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(165, 2, 2);
  margin-right: 20px;
}

.top_left img {
  width: auto;
  height: 160px;
}

.un {
  font-size: 80px;
  color: rgb(165, 2, 2);
}
.grid-container > * {
  flex: 1 1 1;
}
.whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-top: 2px solid rgba(128, 128, 128, 0.406);
}

.whole-title {
  margin-top: 50px;
  font-size: 35px;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  /* border-bottom: 3px solid rgba(128, 128, 128, 0.406); */
}

.profilePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.spotdiv {
  background-color: white;
  border-radius: 15px;
  transition-property: background-color;
  transition-delay: 0s;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.profilePage-img {
  height: 200px;
  width: 300px;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 4px solid rgb(165, 2, 2);
}

.spotdiv img {
  height: 100%;
  width: auto;
}

.commHead {
  font-size: 25px;
  color: rgb(189, 189, 59);
}
.commHead2 {
  font-size: 20px;
}
.comments {
  font-size: 15px;
  background-color: white;
  opacity: 0.8;
  border: 1px solid gray;
  padding: 20px;
  transition-property: background-color;
  transition-delay: 0s;
  border-radius: 15px;
}

.comments img {
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 700px;
  height: 60px;
  width: 60px;
  background-color: rgb(165, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}

.modal button {
  color: black;
  background-color: white;
}

#profilePage-modal {
  background-color: white;
}
