.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(165, 2, 2);
}

.nav-logo img {
  width: 90px;
  height: auto;
  margin: 15px 0 15px 0;
}

.nav-logo {
  margin-left: 50px;
}

.nav-nonuser,
.nav-user {
  margin-right: 40px;
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
}

.nav-searchbar {
  display: flex;
  justify-content: center;
}
.nav-searchbar form {
  border-radius: 30px;
  position: relative;
}

.nav-search-input {
  border-radius: 30px;
  padding: 15px 15px;
  width: 700px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  border: 5px solid rgb(118, 0, 0);
}

.nav-search-input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-profile-pic {
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 700px;
  height: 60px;
  width: 60px;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.nav-profile-pic img {
  width: auto;
  height: 60px;
}

#create-spot-btn,
#logout-btn {
  border-radius: 30px;
  background-color: rgb(165, 2, 2);
  color: white;
  padding: 15px 15px;
  border: 3px solid white;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

#demo-btn,
#login-btn,
#signup-btn {
  border-radius: 30px;
  background-color: rgb(165, 2, 2);
  color: white;
  padding: 15px 20px;
  border: 3px solid white;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

#demo-btn {
  background-color: rgb(118, 0, 0);
  color: white;
  border: 3px solid white;
}

.search-results {
  position: absolute;
  right: 20px;
  top: 62px;
  border-radius: 20px;
  padding: 10px;
  width: 700px;
  font-family: "Prompt";
  font-size: 15px;
  z-index: 1;
}

.search-results-title {
  color: grey;
  font-family: "Prompt";
  font-style: italic;
}

.search-results:focus {
  outline: none;
}

@media only screen and (min-width: 1251px) {
  .small-nav-nonuser,
  .small-nav-user {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .nav-search-input {
    width: 400px;
  }
  .search-results {
    width: 400px;
  }

  .nav-nonuser,
  .nav-user {
    display: none;
  }

  .fa-bars {
    font-size: 35px;
    margin-right: 60px;
  }

  .dropdown-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 12px;
    top: 80px;
    height: 190px;
    z-index: 2;
  }

  .nonuser-dropdown .dropdown-items {
    right: 25px;
  }
}
